*{
    box-sizing:border-box;
}
body{
    background-color: aquamarine;
}
.header{
    font-family: sans-serif;
    font-size: medium;
    text-align: center;
    color: aliceblue;
    margin: auto;
    padding: 10px;
    border: 1px black;
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;


}
.header h2{
    margin: 0;
    font-size: 28px;
    color: black;
    padding: 25px;
    background-color: greenyellow;
}
.container{
    border: 1px black;
    margin: auto;
    padding: 10px;
    max-width: 600px;
    font-size: 18px;
    font-weight: bold;

}
form{
    margin-top: 15px;
}
input[type=text] {
    margin-bottom: 15px;
    margin-top: 10px;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px black;
    font-size: 18px;


}
input[type=number] {
    margin-bottom: 15px;
    margin-top: 10px;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px black;
    font-size: 18px;


}
input[type=submit]{
    margin-bottom: 20px;
    width: 100%;
    padding: 15px;
     border-radius: 15px;
     border: 1px black;
     background: greenyellow;
     font-size: 18px;
     cursor: pointer;
     font-weight: bold;
     color: black;

}
textarea{
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #7ac9b7;
    border-radius: 5px;
    margin-bottom: 20px;
    resize: none;
    font-size: 18px;

}
h2{
    font-size: 25px;
    align-content: center;
    font-family: 'Times New Roman', Times, serif;
}