<h2>Login Page</h2>
<div class="header">
    <h2>DETAILS FORM</h2>
</div>
<div class="container">
<form>
<div>
    <label>YOUR NAME</label>
    <input type="text" name="name" placeholder="Enter your name">
    
</div>
<div>
    <label>EMAIL ID</label>
    <input type="text" name="email" placeholder="Enter your Email Address">
</div>   
<div> 
    <label>Contact number</label>
    <input type="number" name="email" placeholder="Enter your Contact No">
</div>
<div>
    <label>MESSAGE</label>
    <textarea name ="message" rows="6" cols="15" placeholder="Type your Message">
    </textarea>
</div>    
<div>
    <input type="submit" value="Send Message" id="submit">
</div>    
</form>
</div>

